body {
  margin: 0;
  font-family: 'Courier New',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(41,5,41);
  background: linear-gradient(90deg, rgba(41,5,41,1) 5%, rgba(190,102,102,1) 79%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  cursor: pointer;
}
